@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");

.body{
  font-family: 'Alatsi', sans-serif;
  margin: 0;
}

/* bootstrap dropdown hover menu*/

body {
  font-size: 13px;
  font-weight: 400;
  color: #4f5d6e;
  position: relative;
  /* background: rgb(26, 49, 95);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(26, 49, 95, 1)), color-stop(10%, rgba(26, 49, 95, 1)), color-stop(24%, rgba(29, 108, 141, 1)), color-stop(37%, rgba(41, 136, 151, 1)), color-stop(77%, rgba(39, 45, 100, 1)), color-stop(90%, rgba(26, 49, 95, 1)), color-stop(100%, rgba(26, 49, 95, 1)));
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1a315f', endColorstr='#1a315f', GradientType=0); */
}

.body-wrap {
  min-height: 700px;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.navbar{
border-radius: 0;
  min-height: 72px;
}
body{
  /* background: #f2f2f2; */
  background-image: url('https://cdn.pixabay.com/photo/2017/08/17/07/47/travel-2650303_1280.jpg') ;
  font-family: 'Open Sans', sans-serif;
  background-repeat: no-repeat;
    background-size: cover;
}
.container{
  margin-bottom: 60px;
  overflow: hidden;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}
.remove-position{
  position: unset !important;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.body-wrap {
  position: relative;
  z-index: 0;
}

.body-wrap:before,
.body-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 260px;
  /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(26, 49, 95, 1)), color-stop(100%, rgba(26, 49, 95, 0)));
  background: linear-gradient(to bottom, rgba(26, 49, 95, 1) 0%, rgba(26, 49, 95, 0) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1a315f', endColorstr='#001a315f', GradientType=0); */
}

.body-wrap:after {
  top: auto;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(26, 49, 95, 0) 0%, rgba(26, 49, 95, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#001a315f', endColorstr='#1a315f', GradientType=0);
}

nav {
  box-shadow: 5px 4px 5px #000;
}

.header{
  background: black;
  width: 100%;
  height: 8%;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.col-lg-4{
  height: 100%;
  max-width: available;
}

.firma{

  z-index: 1;
  font-family: "Roboto";
  color: white;
  text-align: right;
}

.header-text{

  font-family: "Roboto";
  color: #ffd700;
  font-size: 60px;
  height: 100%;
}


.map {
  z-index: 0;
  height: 92%;
  width: 100%;
  background: #eee;
}
.structure{

}
.route {

  z-index: 9999;
  position: relative;
  width: 30%;
  height: 50%;
  background: white;
  float: right;
}


a{

  color: white;
  text-decoration: none;
}

a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
}

/* BARRA DI RICERCA*/
.inner-form {
  top: 1.2%;
  left: 2.5%;
  position: absolute;
  z-index: 1;
  background: #fff;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 40px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.inner-form .input-field { /*altezza barra input*/
  height: 50px;
}

.inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 32px;
  font-size: 16px;
  color: #555;
}

.inner-form .input-field input.placeholder {
  color: #888;
  font-size: 16px;
}

.inner-form .input-field input:-moz-placeholder {
  color: #888;
  font-size: 16px;
}

.inner-form .input-field input::-webkit-input-placeholder {
  color: #888;
  font-size: 16px;
}

.inner-form .input-field input:hover, .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
  border-color: #fff;
}



.inner-form .input-field.second-wrap {
  -ms-flex-positive: 1;
  flex-grow: 1;
}


.inner-form .input-field.first-wrap .button {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  color: #fff;
  border: 0;
  cursor: pointer;
  background: #fff;
  transition: all .2s ease-out, color .2s ease-out;
}


.inner-form .input-field.first-wrap .button:hover {
  background:  #f2f2f2;
}


@media screen and (max-width: 992px) {  /*quando la grandezza dello schermo è minore di 992px fa questo*/
  .inner-form .input-field {
    height: 50px;

  }

  .inner-form {
    top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    display: inline-block;
    text-align: center;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    height: 50px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
  }

  .header{
    height: 0;
  }

  .footer{
    height: 0;
  }
}
.map{
  height: 100%;
  box-shadow: 1px 1px 10px 5px #222222;
  border-radius: 13px;
  margin-bottom: 30px;
}
#panel-direction{
	height:500px;
    overflow-x:hidden;
}
/**FINESTRA CON PLAYER E AUDIO**/
.bar{
  visibility: hidden;
  position: absolute;
  z-index: 20;
  height: 100%;
  width: 40%;
  background: white;
  overflow: auto;
  top: 72px;
  border-top-right-radius: 23px;
  
}
.imagediv{
  height: 15%;
}
.close{
  margin-top: 10px;
    font-size: 35px;
    color: black;
    position: fixed;
    left: 36%;
}
.buttonsdiv{
  text-align: center;
  background: chartreuse;
}

.form_col{
  max-width: 100px;
}

.form_filtro{
  /* margin: 20px; */
}
.google-button{
  margin-top: 12px;
    font-size: 15px;
    display: block;
    font-family: 'Alatsi', sans-serif;
}
.form_row{
  margin: 0px !important;
}
.login-fb-logo, .login-gplus-logo {
  height: 29px;
  position: absolute;
  left: 15px;
}

.login-gplus-logo {
  background-position: -298px 0!important;
  width: 23px;
  top: 13px;
}
.header-sprite {
  background: url(https://www.pngix.com/pngfile/middle/420-4205694_google-2016-09-08-transparent-background-google-icon.png) no-repeat 0 0;
  background-size: 336px 48px;
}
.form_container{
  width: auto;
  overflow: hidden;
}
@media (min-width: 360px) {
.login-button {
    width: 100%;
    display: inline-block;
}
}
.login-button {
    display: block;
    margin: 0 auto;
    width: 100%;
    /* max-width: 162px; */
    padding-left: 40%;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    color: #696b79;
    height: 50px;
    border: 1px solid #bfc0c6;
    background-color: #fff;
    border-radius: 5px;
    text-align: left;
}
.search-directions{
  z-index: 10;
  visibility: visible;
  position: relative;
  color: black;
  height: 36px;
  border: 3px solid #04b4cc;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.search-directions-extra{
  position: absolute;
  visibility: hidden;
  color: black;
  height: 36px;
  border: 3px solid #04b4cc;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.navbar-brand{
    margin-left: -2px !important;
    margin-top: 14px !important;
    color: white !important;
    font-size: 24px;
}
.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #03b4cc;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.logo{

  width: 69px;
  border-radius: 10%;
  margin-left:-10px;
  }
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.add-margin-top{
  margin-top:16px;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
label{
  color: white;
}

.btn.btn-Google {
  background-color: #000000c7;
  color: #fff;
  border-color: #ee1010;
  border-size: 2px;
  border-radius: 0;
}

.btn.btn-Google:hover {
  background-color: #000000c7;
  color: #fff;
  border-color: #fff;
  border-size: 2px;
  border-radius: 0;
}
.space-between{
  display: flex;
  justify-content: space-between;
}
.flex-center{
  display: flex;
  justify-content: center;
}
.form_filtro label{
  color: black;
}
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
@media only screen and (max-width: 767px) {
  .wrap{
    position: unset;
    top: 0;
    left: 0;
    transform: unset;
    width: 100%;
  }
  .bar{
    width:100%;
  }
  .direction{
    display: table-caption;
  } 
}
